@use "sass:color";

// Datetimepicker
$bs-datetimepicker-active-bg: $primary !default;

// Simplebar
$simplebar-scrollbar-bg: $white !default;

// Stat widget (from CoffeeSchools)
$stat-bg:         color.adjust($primary, $lightness: 35%) !default;
$stat-icon-color: $primary !default;
$stat-padding:    $spacer * 0.75 !default;
