$swal-radius: 1rem !default;
$swal-shadow: 0 25px 50px rgba(0, 0, 0, 0.5) !default;

$swal-bg-dark: #0f172a !default; // slate-900
$swal-text-main: #e5e7eb !default; // gray-200
$swal-text-light: #e5e7eb !default; // gray-200
$swal-text-muted: #94a3b8 !default; // slate-400

$swal-header-bg: $primary !default;
