$table-cell-padding-y: 0.75rem !default;
$table-cell-padding-x: 0.75rem !default;
$table-cell-padding-y-sm: 0.3rem !default;
$table-cell-padding-x-sm: 0.3rem !default;
$table-bg: transparent !default;
$table-striped-bg: $gray-100 !default;
$table-hover-bg: rgba($black, 0.0375) !default;
