$transition-appearance: background .4s ease-in-out,
	color .4s ease-in-out !default;
$transition-appearance-slow: background .6s ease-in-out,
	color .6s ease-in-out !default;
$transition-appearance-fast: background .1s ease-in-out,
	color .1s ease-in-out !default;
