{
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "env": {
    "es2021": true,
    "browser": true,
    "jquery": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }]
  },
  "globals": {
    "Chart": "readonly",
    "flatpickr": "readonly",
    "Quill": "readonly",
    "jsVectorMap": "readonly",
    "SimpleBar": "readonly",
    "dragula": "readonly",
    "feather": "readonly",
    "moment": "readonly",
    "Inputmask": "readonly",
    "SignaturePad": "readonly",
    "jsPDF": "readonly",
    "XLSX": "readonly"
  }
}
