$sidebar-width: 260px !default;
$sidebar-transition: margin-left .35s ease-in-out,
	left .35s ease-in-out,
	margin-right .35s ease-in-out,
	right .35s ease-in-out !default;

// Sidebar brand
$sidebar-brand-padding-y: 1.15rem !default;
$sidebar-brand-padding-x: 1.5rem !default;
$sidebar-brand-font-weight: $font-weight-bold !default;
$sidebar-brand-font-size: 1.15rem !default;
$sidebar-brand-color: $gray-100 !default;

// Sidebar header
$sidebar-header-padding: 1.5rem 1.5rem 0.375rem !default;
$sidebar-header-font-size: $font-size-sm !default;
$sidebar-header-color: $gray-400 !default;

// Sidebar link
$sidebar-link-padding: .625rem 1.625rem !default;
$sidebar-link-font-weight: 400 !default;
$sidebar-link-bg: $sidebar-bg !default;
$sidebar-link-color: rgba($gray-200, 0.5) !default;
$sidebar-link-border-left-color: transparent !default;

$sidebar-link-hover-font-weight: $font-weight-normal !default;
$sidebar-link-hover-bg: $sidebar-bg !default;
$sidebar-link-hover-color: $white !default;
$sidebar-link-hover-border-left-color: $red !default;

$sidebar-link-active-font-weight: $font-weight-normal !default;
$sidebar-link-active-bg: #{linear-gradient(90deg, rgba($primary,0.1) 0%, rgba($primary,0.0875) 50%, rgba($black, 0) 100%)} !default;
$sidebar-link-active-color: $white !default;
$sidebar-link-active-border-left-color: $red !default;

// Sidebar link icon
$sidebar-link-icon-color: rgba($white, 0.6) !default;
$sidebar-link-icon-hover-color: $white !default;
$sidebar-link-icon-active-color: $white !default;

// Sidebar bottom
$sidebar-cta-color: $aqua !default;
$sidebar-cta-padding: $spacer*1.5 !default;
$sidebar-cta-margin: $spacer*1.75 !default;
$sidebar-cta-border-radius: $border-radius-lg !default;
