$table-cell-padding-y: .75rem !default;
$table-cell-padding-x: .75rem !default;
$table-cell-padding-y-sm: .3rem !default;
$table-cell-padding-x-sm: .3rem !default;
$table-bg: transparent !default;
$table-striped-bg: $gray-100 !default;
$table-hover-bg: rgba($black, .0375) !default;
