{{#> "layout-auth" title="Restablecer Contraseña"}}

<div class="card">
	<div class="card-body">
		<div class="m-sm-3">
			<div class="text-center">
				<h1 class="h2">Restablecer contraseña</h1>
				<p class="lead">
					Ingresa tu correo para recibir las instrucciones.
				</p>
			</div>

			<form>
				<div class="mb-3">
					<label class="form-label">Email</label>
					<input class="form-control form-control-lg" type="email" name="email" placeholder="Ingresa tu email" />
				</div>
				<div class="d-grid gap-2 mt-3">
					<a href="login.html" class="btn btn-lg btn-primary">Enviar instrucciones</a>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="text-center mb-3">
	¿Ya tienes cuenta? <a href="login.html">Iniciar sesión</a>
</div>

{{/layout-auth}}