{{#> layout-main icon="bi bi-people" title="Clientes" description="Gestión de usuarios y clientes."}}

<div class="container-fluid p-0">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions float-end">
                        <a href="#" class="btn btn-primary"><i class="align-middle" data-feather="plus"></i> Nuevo
                            Cliente</a>
                    </div>
                    <h5 class="card-title mb-0">Lista de Clientes</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Empresa</th>
                                <th>Email</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="img/avatars/avatar.jpg" width="32" height="32"
                                        class="rounded-circle my-n1" alt="Avatar"></td>
                                <td>Garrett Winters</td>
                                <td>Good Guys</td>
                                <td>garrett@winters.com</td>
                                <td><span class="badge bg-success">Activo</span></td>
                                <td class="table-action">
                                    <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                                    <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="img/avatars/avatar-2.jpg" width="32" height="32"
                                        class="rounded-circle my-n1" alt="Avatar"></td>
                                <td>Ashton Cox</td>
                                <td>Levitz Furniture</td>
                                <td>ashton@cox.com</td>
                                <td><span class="badge bg-success">Activo</span></td>
                                <td class="table-action">
                                    <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                                    <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="img/avatars/avatar-3.jpg" width="32" height="32"
                                        class="rounded-circle my-n1" alt="Avatar"></td>
                                <td>Sonya Frost</td>
                                <td>Child World</td>
                                <td>sonya@frost.com</td>
                                <td><span class="badge bg-danger">Inactivo</span></td>
                                <td class="table-action">
                                    <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                                    <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="img/avatars/avatar-4.jpg" width="32" height="32"
                                        class="rounded-circle my-n1" alt="Avatar"></td>
                                <td>Jena Gaines</td>
                                <td>Helping Hand</td>
                                <td>jena@gaines.com</td>
                                <td><span class="badge bg-warning">Pendiente</span></td>
                                <td class="table-action">
                                    <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                                    <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{{/layout-main}}