{{#> layout-main icon="bi bi-images" title="Galería" description="Galería de imágenes y media."}}

<div class="container-fluid p-0">

    <div class="mb-3">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary active">Todo</button>
            <button type="button" class="btn btn-secondary">Categoría 1</button>
            <button type="button" class="btn btn-secondary">Categoría 2</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Imágenes</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3 mb-3">
                            <img src="img/photos/unsplash-1.jpg" class="img-fluid rounded shadow-sm" alt="Unsplash">
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 mb-3">
                            <img src="img/photos/unsplash-2.jpg" class="img-fluid rounded shadow-sm" alt="Unsplash">
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 mb-3">
                            <img src="img/photos/unsplash-3.jpg" class="img-fluid rounded shadow-sm" alt="Unsplash">
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 mb-3">
                            <img src="img/photos/unsplash-1.jpg" class="img-fluid rounded shadow-sm" alt="Unsplash">
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 mb-3">
                            <img src="img/photos/unsplash-2.jpg" class="img-fluid rounded shadow-sm" alt="Unsplash">
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 mb-3">
                            <img src="img/photos/unsplash-3.jpg" class="img-fluid rounded shadow-sm" alt="Unsplash">
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 mb-3">
                            <img src="img/photos/unsplash-1.jpg" class="img-fluid rounded shadow-sm" alt="Unsplash">
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 mb-3">
                            <img src="img/photos/unsplash-2.jpg" class="img-fluid rounded shadow-sm" alt="Unsplash">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/layout-main}}