{{#> "layout-error" title="500 Internal Server Error"}}
<div class="text-center">
	<h1 class="display-1 fw-bold">500</h1>
	<p class="h1">Error Interno del Servidor.</p>
	<p class="h2 fw-normal mt-3 mb-4">El servidor encontró algo inesperado y no pudo completar tu solicitud.</p>
	<a href="index.html" class="btn btn-primary btn-lg">Volver al inicio</a>
</div>
{{/layout-error}}