{{#> layout-main icon="bi bi-person-badge" title="Mi Perfil Institucional" description="Gestión de información personal
y registro de actividad."}}

<div class="row">
	<div class="col-md-4 col-xl-3">
		<div class="card mb-3">
			<div class="card-header">
				<h5 class="card-title mb-0">Detalles del Perfil</h5>
			</div>
			<div class="card-body text-center">
				<img src="img/avatars/avatar-4.jpg" alt="Christina Mason" class="img-fluid rounded-circle mb-2" width="128"
					height="128" />
				<h5 class="card-title mb-0">Christina Mason</h5>
				<div class="text-muted mb-2">Lead Developer</div>

				<div>
					<button class="btn btn-primary btn-sm" id="btn-seguir">
						<i class="bi bi-person-plus me-1"></i> Seguir
					</button>
					<a class="btn btn-navy btn-sm" href="#">
						<i class="bi bi-chat-dots me-1"></i> Mensaje
					</a>
				</div>
			</div>
			<hr class="my-0" />
			<div class="card-body">
				<h5 class="h6 card-title">Habilidades</h5>
				<a href="#" class="badge bg-primary me-1 my-1">HTML</a>
				<a href="#" class="badge bg-primary me-1 my-1">JavaScript</a>
				<a href="#" class="badge bg-primary me-1 my-1">Sass</a>
				<a href="#" class="badge bg-primary me-1 my-1">Angular</a>
				<a href="#" class="badge bg-primary me-1 my-1">Vue</a>
				<a href="#" class="badge bg-primary me-1 my-1">React</a>
				<a href="#" class="badge bg-primary me-1 my-1">Redux</a>
				<a href="#" class="badge bg-primary me-1 my-1">UI</a>
				<a href="#" class="badge bg-primary me-1 my-1">UX</a>
			</div>
			<hr class="my-0" />
			<div class="card-body">
				<h5 class="h6 card-title">Sobre mí</h5>
				<ul class="list-unstyled mb-0">
					<li class="mb-1"><span data-feather="home" class="feather-sm me-1"></span> Vive en <a href="#">San
							Francisco, SA</a></li>

					<li class="mb-1"><span data-feather="briefcase" class="feather-sm me-1"></span> Trabaja en <a
							href="#">GitHub</a></li>
					<li class="mb-1"><span data-feather="map-pin" class="feather-sm me-1"></span> De <a href="#">Boston</a></li>
				</ul>
			</div>
			<hr class="my-0" />
			<div class="card-body">
				<h5 class="h6 card-title">Encuéntrame en</h5>
				<ul class="list-unstyled mb-0">
					<li class="mb-1"><a href="#">Twitter</a></li>
					<li class="mb-1"><a href="#">Facebook</a></li>
					<li class="mb-1"><a href="#">Instagram</a></li>
					<li class="mb-1"><a href="#">LinkedIn</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-8 col-xl-9">
		<div class="card">
			<div class="card-header">

				<h5 class="card-title mb-0">Actividad</h5>
			</div>
			<div class="card-body h-100">

				<div class="d-flex align-items-start">
					<img src="img/avatars/avatar-5.jpg" width="36" height="36" class="rounded-circle me-2" alt="Vanessa Tucker">
					<div class="flex-grow-1">
						<small class="float-end text-navy">5m ago</small>
						<strong>Vanessa Tucker</strong> inició nueva tarea <strong>Desarrollo de API</strong><br />
						<small class="text-muted">Hoy 7:51 pm</small><br />

					</div>
				</div>

				<hr />
				<div class="d-flex align-items-start">
					<img src="img/avatars/avatar.jpg" width="36" height="36" class="rounded-circle me-2" alt="Charles Hall">
					<div class="flex-grow-1">
						<small class="float-end text-navy">30m ago</small>
						<strong>Charles Hall</strong> subió nuevos archivos:<br />
						<small class="text-muted">Hoy 7:21 pm</small>

						<div class="row g-0 mt-1">
							<div class="col-6 col-md-4 col-lg-4 col-xl-3">
								<img src="img/photos/unsplash-1.jpg" class="img-fluid pe-2" alt="Unsplash">
							</div>
							<div class="col-6 col-md-4 col-lg-4 col-xl-3">
								<img src="img/photos/unsplash-2.jpg" class="img-fluid pe-2" alt="Unsplash">
							</div>
						</div>
					</div>
				</div>

				<hr />
				<div class="d-flex align-items-start">
					<img src="img/avatars/avatar-4.jpg" width="36" height="36" class="rounded-circle me-2" alt="Christina Mason">
					<div class="flex-grow-1">
						<small class="float-end text-navy">1h ago</small>
						<strong>Christina Mason</strong> publicó un nuevo artículo de blog<br />

						<small class="text-muted">Hoy 6:35 pm</small>
					</div>
				</div>

				<hr />
				<div class="d-flex align-items-start">
					<img src="img/avatars/avatar-2.jpg" width="36" height="36" class="rounded-circle me-2" alt="William Harris">
					<div class="flex-grow-1">
						<small class="float-end text-navy">3h ago</small>
						<strong>William Harris</strong> terminó la tarea <strong>Migrar a React</strong><br />
						<small class="text-muted">Hoy 5:12 pm</small>

						<div class="d-flex align-items-start mt-1">
							<a class="pe-3" href="#">
								<img src="img/avatars/avatar-3.jpg" width="36" height="36" class="rounded-circle me-2"
									alt="Sharon Lessman">
							</a>
							<div class="flex-grow-1">
								<div class="border text-sm text-muted p-2 mt-1">
									Gran trabajo William! El código se ve limpio y funciona excelente.
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="d-grid gap-2 mt-3">
					<button class="btn btn-outline-primary" id="btn-cargar-actividad">Visualizar actividad
						anterior</button>
				</div>
			</div>
		</div>
	</div>
</div>


{{/layout-main}}
