{{#> layout-main icon="bi bi-file-earmark-spreadsheet" title="Reporte de Usuarios" description="Reporte avanzado con
opciones de exportación y filtrado."}}

<div class="row">
    <div class="col-12">
        <div class="card shadow card-bt-primary">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Consolidado de Usuarios</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover align-middle table-xs" id="reportUsersTable" style="width:100%">
                        <!-- DataTables renderizará el contenido -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{{/layout-main}}

<!-- Dependencia del demo -->
<script src="demos/report-users.js"></script>
