{{#> layout-auth title="Restablecer Contraseña" description="¿Olvidaste tu acceso? No te preocupes, te ayudaremos a
recuperarlo."}}

<div class="card">
    <div class="card-body">
        <form id="resetForm">
            <div class="mb-4">
                <label class="form-label required">Correo Electrónico</label>
                <input class="form-control" type="email" name="email" placeholder="ejemplo@correo.com" required
                    data-validation="email">
                <div class="form-text text-white-50 mt-2">
                    Te enviaremos un correo con las instrucciones para restablecer tu contraseña.
                </div>
            </div>

            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn btn-primary btn-lg">Enviar Instrucciones</button>
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-4 auth-footer">
    Recordaste tu acceso? <a href="login.html">Volver al Login</a>
</div>


{{/layout-auth}}
