.card {
  margin-bottom: $grid-gutter-width;
  box-shadow: $card-shadow;
  border-radius: $card-border-radius;
  border: 1px solid $card-border-color;
  transition: all .3s ease;

  &:hover {
    box-shadow: 0 8px 24px rgba($black, 0.08);
    transform: translateY(-2px);
  }
}

.card-header {
  border-bottom: 1px solid $card-border-color;
  background-color: transparent;
  padding: $card-cap-padding-y $card-cap-padding-x;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-footer {
  padding-top: $card-cap-padding-y;
  padding-bottom: $card-cap-padding-y;
  padding-left: $card-cap-padding-x;
  padding-right: $card-cap-padding-x;
}

.card-title {
  font-size: $card-title-font-size;
  font-weight: $card-title-font-weight;
  color: $card-title-color;
}

.card-subtitle {
  font-weight: $font-weight-normal;
}



.card-img,
.card-img-top,
.card-img-bottom {
  @include img-fluid;

  @media all and (-ms-high-contrast:none) {
    height: 100%;
  }
}

.card>.table>tbody {

  tr:last-child td:first-child,
  tr:last-child th:first-child {
    border-bottom-left-radius: $card-border-radius;
  }

  tr:last-child td:last-child,
  tr:last-child th:last-child {
    border-bottom-right-radius: $card-border-radius;
  }
}
