.table {
	width: 100%;
	margin-bottom: 0;

	thead {
		background-color: $gray-100;

		th {
			text-transform: uppercase;
			font-size: 0.75rem;
			letter-spacing: 0.5px;
			font-weight: 700;
			color: $gray-600;
			border-bottom: 2px solid $gray-200;
		}
	}

	tbody,
	tfoot,
	tr,
	td,
	th {
		border-color: $gray-200;
	}
}

.table>tbody>tr>td {
	vertical-align: middle;
}

// Compact table variant
.table-xs {
	font-size: $font-size-sm;

	th,
	td {
		padding: 0.25rem 0.5rem;
		vertical-align: middle;
	}

	thead {
		tr {
			background-color: $primary;
			color: $white;

			th {
				background-color: $primary;
				color: $white;
				padding-top: 0.25rem;
				padding-bottom: 0.25rem;
				font-weight: $font-weight-bold;
				border-bottom: 1px solid $table-border-color;
				text-transform: uppercase;
				letter-spacing: 0.5px;
			}
		}

	}

	tbody td {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	&.table-striped tbody tr:nth-of-type(odd) {
		background-color: rgba($primary, 0.02);
	}

	&.table-hover tbody tr:hover {
		background-color: rgba($primary, 0.05);
		cursor: pointer;
	}
}
