<footer class="py-5 bg-dark text-white-50">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="text-white mb-3">EduMatrix</h5>
                <p>La plataforma educativa líder para la gestión integral de colegios y centros educativos.</p>
                <div class="d-flex gap-3">
                    <a href="#" class="text-white"><i class="bi bi-facebook fs-5"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-twitter fs-5"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-instagram fs-5"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-linkedin fs-5"></i></a>
                </div>
            </div>
            <div class="col-6 col-md-2 mb-3">
                <h5 class="text-white mb-3">Producto</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Características</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Precios</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Seguridad</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Integraciones</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
                <h5 class="text-white mb-3">Compañía</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Sobre Nosotros</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Carreras</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Blog</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <form>
                    <h5 class="text-white mb-3">Suscríbete a novedades</h5>
                    <p>Recibe las últimas actualizaciones de nuestra plataforma.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Suscribir</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>&copy; 2023 EduMatrix LLC. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>