<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar" data-simplebar-auto-hide="true">

		<a class="sidebar-brand" href="index.html">
			<img src="img/logos/logo-sidebar.svg" alt="HR Library" class="sidebar-brand-full" width="160" height="44">
			<img src="img/logos/logo-sidebar-collapsed.svg" alt="HR" class="sidebar-brand-icon" width="36" height="36">
		</a>
		<ul class="sidebar-nav">

			{{!-- DASHBOARDS --}}
			<li class="sidebar-header">Dashboards</li>

			<li class="sidebar-item">
				<a class="sidebar-link collapsed" data-bs-target="#dashboards" data-bs-toggle="collapse" aria-expanded="false"
					aria-controls="dashboards">
					<i class="bi bi-speedometer2"></i>
					<span>Paneles</span>
					<i class="bi bi-chevron-right icon-right"></i>
				</a>
				<ul id="dashboards" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" href="dashboard.html">Principal</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="dashboard-coordinator.html">Coordinador</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="dashboard-secretary.html">Secretaria</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="dashboard-sudo.html">Administrador</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="dashboard-teacher.html">Docente</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="finance-dashboard.html">Finanzas</a></li>
				</ul>
			</li>

			{{!-- GESTIÓN ACADÉMICA --}}
			<li class="sidebar-header">Gestión Académica</li>

			<li class="sidebar-item">
				<a class="sidebar-link collapsed" data-bs-target="#academic" data-bs-toggle="collapse" aria-expanded="false"
					aria-controls="academic">
					<i class="bi bi-journal-check"></i>
					<span>Academia</span>
					<i class="bi bi-chevron-right icon-right"></i>
				</a>
				<ul id="academic" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" href="academic-courses.html">Cursos</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="academic-students.html">Estudiantes</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="teacher-attendance.html">Asistencia</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="teacher-grades.html">Calificaciones</a></li>
				</ul>
			</li>

			{{!-- ADMINISTRACIÓN --}}
			<li class="sidebar-header">Administración</li>

			<li class="sidebar-item">
				<a class="sidebar-link collapsed" data-bs-target="#admin" data-bs-toggle="collapse" aria-expanded="false"
					aria-controls="admin">
					<i class="bi bi-briefcase"></i>
					<span>Gestión</span>
					<i class="bi bi-chevron-right icon-right"></i>
				</a>
				<ul id="admin" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" href="admin-admissions.html">Admisiones</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="admin-employees.html">Empleados</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="admin-schools.html">Escuelas</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="clients.html">Clientes</a></li>
				</ul>
			</li>

			{{!-- FINANZAS --}}
			<li class="sidebar-header">Finanzas</li>

			<li class="sidebar-item">
				<a class="sidebar-link collapsed" data-bs-target="#finance" data-bs-toggle="collapse" aria-expanded="false"
					aria-controls="finance">
					<i class="bi bi-credit-card"></i>
					<span>Contabilidad</span>
					<i class="bi bi-chevron-right icon-right"></i>
				</a>
				<ul id="finance" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" href="finance-expenses.html">Gastos</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="finance-payments.html">Pagos</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="invoice.html">Facturas</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="pricing.html">Planes</a></li>
				</ul>
			</li>

			{{!-- EXTRAS & HERRAMIENTAS --}}
			<li class="sidebar-header">Extras &amp; Herramientas</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="events.html">
					<i class="bi bi-calendar-event"></i>
					<span>Calendario</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="tasks.html">
					<i class="bi bi-layout-three-columns"></i>
					<span>Tablero de Tareas</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="pages-projects.html">
					<i class="bi bi-kanban"></i>
					<span>Proyectos</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="pages-inbox.html">
					<i class="bi bi-envelope"></i>
					<span>Bandeja</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="pages-gallery.html">
					<i class="bi bi-images"></i>
					<span>Galería</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="panel-login.html">
					<i class="bi bi-window-stack"></i>
					<span>Panel de Control</span>
					<span class="sidebar-badge badge bg-danger">NEW</span>
				</a>
			</li>

			{{!-- COMPONENTES UI --}}
			<li class="sidebar-header">Componentes UI</li>

			<li class="sidebar-item">
				<a class="sidebar-link collapsed" data-bs-target="#ui" data-bs-toggle="collapse" aria-expanded="false"
					aria-controls="ui">
					<i class="bi bi-palette"></i>
					<span>UI Kit</span>
					<i class="bi bi-chevron-right icon-right"></i>
				</a>
				<ul id="ui" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" href="ui-kit.html">General Kit</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="table.html">DataTables CRUD</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="crud-ultimate.html">CRUD Ultimate</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="report-users.html">Reporte de Usuarios</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="ui-tabs.html">Tabs &amp; Navs</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="ui-infobox.html">InfoBoxes</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="forms.html">Formularios</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="form-editor.html">Editor de Formularios</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="datatable-api.html">Tablas API</a></li>
				</ul>
			</li>

			{{!-- SEGURIDAD --}}
			<li class="sidebar-header">Seguridad</li>

			<li class="sidebar-item">
				<a class="sidebar-link collapsed" data-bs-target="#auth" data-bs-toggle="collapse" aria-expanded="false"
					aria-controls="auth">
					<i class="bi bi-shield-lock"></i>
					<span>Autenticación</span>
					<i class="bi bi-chevron-right icon-right"></i>
				</a>
				<ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" href="login.html">Login</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="sign-up.html">Registro</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="reset-password.html">Reset</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="lock.html">Bloqueo</a></li>
				</ul>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="landing.html" target="_blank" rel="noopener">
					<i class="bi bi-display"></i>
					<span>Landing Page</span>
					<i class="bi bi-box-arrow-up-right ms-auto opacity-50" style="font-size:.7rem;margin-right:0;"></i>
				</a>
			</li>

		</ul>
	</div>
</nav>
